#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www.tuweb.com
#RewriteRule (.*) http://tuweb.com/$1 [R=301,L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php